.button {
  min-width: 35%;
  width: auto;
  height: 50px;
  letter-spacing: 0.7px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  margin: 5px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: rgb(86, 66, 199);
    color: white;

    &:hover {
      background-color: rgb(89, 71, 170);
      border: none;
    }
  }
}
